$font_black: #101114;
$f1_gray: #f1f1f1;
$burgundy: #c22a2a;
$green: #69b34c;
$white: #fff;
$orange: #ff4500;
$dark_gray_font: #424242;

$background_blue: #f7f9fc;
$background_blue_hover: #eaeffc;
$text_dark: #222;
$sidebar_text_selected: #7e2bff;
$text_light: #636688;
$light_blue_hover: #1285d1;
$border_color: #dfe5f5;
